*{
	margin: 0px;
	padding: 0px;

	font-family: Arial;
	font-size: 20px;
}

html, body{
	width: 100%;
	height: 100%;
}

h1{
	font-size: 28px;
	font-weight: bold;
}

h2{
	font-size: 24px;
	font-weight: bold;
}

#wrapper {
  	position: relative;
	min-height: 100%;
	width: 100%;
	height: 100% !important;
}

#content{
	height: auto;
	margin-left: auto;
	margin-right: auto;
	padding-top: 100px;
	padding-bottom: 80px;
	width: 806px;
}

#header{
	position: absolute;
	width: 100%;
	height: 100px;
	top: 0px;
}

#footer{
	position: absolute;
  	margin-top: 20px;
  	bottom: 0;
 	height: 65px;
  	width: 100%;
}

#headerContent, #footerContent{
	position: relative;
	width: 806px;
	margin-left: 50%;
	left: -403px;
	padding: 10px;
}

.page{
	padding: 10px;
}

.centerText{
	text-align: center;
}