<div id="headerContent">
	<h1>Baobab Logic</h1>
	<nav class="center">
	  <ul class="navbar" >
	    <li class="navbar" >
	      <%= link_to "Home", root_path %>
	    </li>    
	    <li class="navbar" >
	      <%= link_to "Projects", projects_path %>
	    </li>
	    <li class="navbar" >
	      <%= link_to "Blog", blog_path %>
	    </li>
	    <li class="navbar" >
	      <%= link_to "Contact", nil%>
	    </li>
	  </ul>
	</nav>
</div>